/* src/styles/Experience.css */

.experience-card {
  padding: 20px;
  background-color: #1f1f1f; /* Color de fondo oscuro para la tarjeta */
  color: #e0e0e0; /* Color de texto claro */
  border-radius: 8px;
  margin: 10px;
  transition: transform 0.2s, box-shadow 0.2s; /* Para efectos de hover */
}

.experience-card:hover {
  transform: scale(1.05); /* Aumenta un poco el tamaño al hacer hover */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); /* Efecto de sombra */
}

.experience-details {
  margin-top: 10px;
}

.experience-item {
  margin-bottom: 15px;
}

.experience-item h3 {
  margin: 0;
  font-size: 1.2em;
  color: #ff4500; /* Color diferente para el nombre de la empresa */
}

.experience-item p {
  margin: 5px 0;
  color: #e0e0e0; /* Color claro para la descripción */
}
