/* src/styles/Header.css */

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido del header horizontalmente */
  padding: 20px;
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  user-select: none; /* Evita la selección de la foto */
  pointer-events: none; /* Opcional: evita que la foto reciba eventos de clic */
}

.profile-text h1 {
  margin: 0;
  color: #ff4500; /* Título en naranja quemado */
}

.profile-text p {
  margin: 0;
  color: #e0e0e0; /* Texto claro */
}

.robot-text {
  color: #3498db; /* Color para "No soy un robot" */
}

.frontend-text {
  color: #f1c40f; /* Color para "Front-End" */
}
