/* src/components/Skills.css */

.skills {
  padding: 0;
  border-radius: 0;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Asegura que la lista use el espacio disponible dentro de la tarjeta */
}

.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: transparent; /* Eliminar cualquier fondo adicional */
}

.skill-icon {
  margin-right: 15px;
}

.skill-info h3 {
  margin: 0;
  color: #ff4500;
}

.skill-info p {
  margin: 0;
  color: #e0e0e0;
}
